Checks: >
  -*,
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-named-parameter

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
